.git
.github
.s0-backup
.opencode
.claude
.gemini
**/.DS_Store

node_modules
**/node_modules
**/.next
**/dist
**/coverage
**/artifacts
**/cache
**/typechain-types
**/*.tsbuildinfo

**/.env
**/.env.local
**/.env.*.local
**/.env.production
**/.env.development
!**/.env.example

npm-debug.log*
**/logs
**/*.log

docs
tests
**/__tests__
*.md
!README.md
